@model Purchase


@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Options
@using NileHotels.Resources
@inject IHtmlLocalizer<Resource> localizer


<div class="card-header pb-0">
    <div class="row d-flex flex-row">
        <div class="col-lg-12 col-md-8 col-8">
            <h2> @localizer["Purchase Report"] </h2>
        </div>
        <div class="about_content ">

            <div class="row">
                <div class="col">
                    <h5 class="title_color">@localizer["From"] </h5>
                    <input type="date" required id="searchFromDateId" class="form-control" />
                </div>
                <div class="col">
                    <h5 class="title_color">@localizer["To"] </h5>
                    <input type="date" required id="searchToDateId" class="form-control" />
                </div>
            </div>
            <br />
            <button class="btn bg-gradient-primary text-white flipundo" onclick="SearchReportPurchase()">@localizer["search"]</button>

            <br />
        </div>

    </div>
</div>


@*search about Purchase *@
<div class="card-body px-0 pb-2">
    <div class="table-responsive">
        <div style="background-color:white;display:none" id="myDIVSearch">

            <a type="button" target="_blank" class="btn bg-gradient-primary text-white flipundo" onclick="PrintSearchPurchases()">@localizer["Print Report"]</a>

            <br />
            <table id="example1" class="table table-bordered  align-items-center mb-0" style="color:black">
                <thead>
                    <tr>
                        <th class="text-uppercase   font-weight-bolder ">@localizer["ID"]</th>
                        <th class="text-uppercase  text-s font-weight-bolder  ps-2">@localizer["Vendor Name"]</th>
                         <th class="text-uppercase  text-s font-weight-bolder  ps-2"> @localizer["Date"] </th>
                        <th class="text-uppercase  text-s font-weight-bolder  ps-2">@localizer["invoice number"] </th>
                        <th class="text-uppercase  text-s font-weight-bolder  ps-2">@localizer["netPrice"]</th>
                        <th class="text-uppercase  text-s font-weight-bolder  ps-2">@localizer["vat"]</th>
                        <th class="text-uppercase  text-s font-weight-bolder  ps-2">@localizer["TotalPrice"]</th>

                    </tr>
                </thead>
                <tbody id="tbodySearchPurchases">
                </tbody>
                <tfoot>
                </tfoot>
            </table>
            <br />
        </div>
    </div>


</div>




<div class="card-body px-0 pb-2">
    <div class="table-responsive">
        <a type="button" target="_blank" class="btn bg-gradient-primary text-white flipundo" asp-area="" asp-controller="Reports" asp-action="PrintAllPurchasesinvoice">@localizer["Print Report"]</a>
        <div style="background-color:white">
            <table id="example1" class="table table-bordered  align-items-center mb-0" style="color:black">
                <thead>
                    <tr>
                        <th class="text-uppercase   font-weight-bolder ">@localizer["ID"]</th>
                        <th class="text-uppercase  text-s font-weight-bolder  ps-2">@localizer["Vendor Name"]</th>
                         <th class="text-uppercase  text-s font-weight-bolder  ps-2"> @localizer["Date"] </th>
                        <th class="text-uppercase  text-s font-weight-bolder  ps-2">@localizer["invoice number"] </th>
                        <th class="text-uppercase  text-s font-weight-bolder  ps-2">@localizer["netPrice"]</th>
                        <th class="text-uppercase  text-s font-weight-bolder  ps-2">@localizer["vat"]</th>
                        <th class="text-uppercase  text-s font-weight-bolder  ps-2">@localizer["TotalPrice"]</th>

                    </tr>
                </thead>
                <tbody id="tbodyPurchase">
                </tbody>
                <tfoot>
                </tfoot>
            </table>
        </div>
    </div>
</div>


@*
<div class="card-body px-0 pb-2">
    <div class="table-responsive">
        <div style="background-color:white">
            <table id="example3" class="table table-bordered  align-items-center mb-0" style="color:black">
                <thead>
                    <tr>
                        <th class="text-uppercase   font-weight-bolder ">@localizer["Total Number"]</th>
                        <th class="text-uppercase  text-s font-weight-bolder  ps-2">@localizer["Total Cost"]</th>
                        <th class="text-uppercase  text-s font-weight-bolder  ps-2">@localizer["Total Remaining Value"]</th>

                    </tr>
                </thead>
                <tbody id="tbodyc">
                    <tr>
                        <td>
                            @ViewBag.allRecepitVouchers
                        </td>
                        <td>
                            @ViewBag.RecepitVouchers $
                        </td>
                        <td>
                            @ViewBag.RemainingValue $
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                </tfoot>
            </table>
        </div>
    </div>
</div>
*@
@section Scripts{

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

 }
