@model ContractRecepitVoucher


@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Options
@using NileHotels.Resources
@inject IHtmlLocalizer<Resource> localizer

 
<div class="card-header pb-0">
    <div class="row d-flex flex-row">
        <div class="col-lg-12 col-md-8 col-8">
            <h2> @localizer["Reciept Vouchers Report"] </h2>
        </div>
        <div class="about_content ">

            <div class="row"> 
                <div class="col">
                    <h5 class="title_color">@localizer["From"] </h5>
                    <input type="date" required id="searchdateCheckInTimeid" class="form-control" />
                </div>
                <div class="col">
                    <h5 class="title_color">@localizer["To"] </h5>
                    <input type="date" required id="searchdateEXITid" class="form-control" />
                </div>
            </div>
            <br />
            <button class="btn bg-gradient-primary text-white flipundo" onclick="SearchReportRecepitVoucher()">@localizer["search"]</button>

            <br />
        </div>

    </div>
</div>



<div class="card-body px-0 pb-2">
    <div class="table-responsive">
        <div style="background-color:white;display:none" id="myDIVSearch">
            @*search about customer *@

            <br />
            <table id="example1" class="table table-bordered  align-items-center mb-0" style="color:black">
                <thead>
                    <tr>
                        <th class="text-uppercase   font-weight-bolder ">@localizer["ID"]</th>
                        <th class="text-uppercase  text-s font-weight-bolder  ps-2">@localizer["Name"]</th>
                        <th class="text-uppercase  text-s font-weight-bolder  ps-2">@localizer["RoomNo"] </th>
                        <th class="text-uppercase  text-s font-weight-bolder  ps-2"> @localizer["Price"] </th>
                        <th class="text-uppercase  text-s font-weight-bolder  ps-2">@localizer["PaymentType"] </th>
                        <th class="text-uppercase  text-s font-weight-bolder  ps-2">@localizer["Naturelofcontract"]</th>
                        <th class="text-uppercase  text-s font-weight-bolder  ps-2">@localizer["contract Amont"]</th>
                        <th class="text-uppercase  text-s font-weight-bolder  ps-2">@localizer["paymentDate"]</th>

                    </tr>
                </thead>
                <tbody id="tbodycustomercontract">
                </tbody>
                <tfoot>
                </tfoot>
            </table>
            <br />
        </div>
    </div>


</div>




<div class="card-body px-0 pb-2">
    <div class="table-responsive">
        <a type="button" target="_blank" class="btn bg-gradient-primary text-white flipundo" asp-area="" asp-controller="Reports" asp-action="PrintRecieptVouchersReport">@localizer["Print Report"]</a>
        <div style="background-color:white">
            <table id="example1" class="table table-bordered  align-items-center mb-0" style="color:black">
                <thead>
                    <tr>
                        <th class="text-uppercase   font-weight-bolder ">@localizer["ID"]</th>
                         <th class="text-uppercase  text-s font-weight-bolder  ps-2">@localizer["Name"]</th>
                        <th class="text-uppercase  text-s font-weight-bolder  ps-2">@localizer["RoomNo"] </th>
                        <th class="text-uppercase  text-s font-weight-bolder  ps-2"> @localizer["Price"] </th>
                        <th class="text-uppercase  text-s font-weight-bolder  ps-2">@localizer["PaymentType"] </th>
                        <th class="text-uppercase  text-s font-weight-bolder  ps-2">@localizer["NaturelofAsset"]</th>
                        <th class="text-uppercase  text-s font-weight-bolder  ps-2">@localizer["contract Amont"]</th>
                        <th class="text-uppercase  text-s font-weight-bolder  ps-2">@localizer["paymentDate"]</th>

                    </tr>
                </thead>
                <tbody id="tbodyb">
                </tbody>
                <tfoot>
                </tfoot>
            </table>
        </div>
    </div>
</div>
 


<div class="card-body px-0 pb-2">
    <div class="table-responsive">
        <div style="background-color:white">
            <table id="example3" class="table table-bordered  align-items-center mb-0" style="color:black">
                <thead>
                    <tr>
                        <th class="text-uppercase   font-weight-bolder ">@localizer["Total Number"]</th>
                        <th class="text-uppercase  text-s font-weight-bolder  ps-2">@localizer["Total Cost"]</th>
                        <th class="text-uppercase  text-s font-weight-bolder  ps-2">@localizer["Total Remaining Value"]</th>

                    </tr>
                </thead>
                <tbody id="tbodyc">
                    <tr>
                        <td>
                            @ViewBag.allRecepitVouchers   
                        </td>
                        <td>
                            @ViewBag.RecepitVouchers $
                        </td>
                        <td>
                            @ViewBag.RemainingValue $
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                </tfoot>
            </table>
        </div>
    </div>
</div>

@section Scripts{

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

 }
