@model StoreAsset

@{
    Layout = "_LayoutHotel1";
     

}

@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Options
@using NileHotels.Resources
@inject IHtmlLocalizer<Resource> localizer

     

<div class="card-header pb-0">
    <div class="row d-flex flex-row">
        <div class="col-lg-12 col-md-8 col-8">
            <h2> @localizer["Store content"] </h2>
            <button data-bs-toggle="modal" data-bs-target="#EditModal" onclick="clearStoreResponsableform()" class="cursor-pointer bg-transparent border-0" style="display:inline-block">
                <i class="fa-solid fa-plus text-success"></i>
            </button>
             <select id="storeid" onchange="GetAllAssetInStore()" class="form-control" style="width:150px;display:inline-block" placeholder="Employee Name"></select>

        </div>

    </div>
</div>


<div class="card-body px-0 pb-2">
    <div class="table-responsive">
        <div style="background-color:white">
            <table id="example1" class="table table-bordered  align-items-center mb-0" style="color:black">
                <thead>
                    <tr>
                        <th class="text-uppercase   font-weight-bolder ">@localizer["ID"]</th>

                       
                        <th class="text-uppercase   font-weight-bolder ">@localizer["Name"] @localizer["Product"]/ @localizer["Asset"]</th>
                        <th class="text-uppercase   font-weight-bolder ">@localizer["Asset Status"]/@localizer["Product"] </th>
                        <th class="text-uppercase   font-weight-bolder ">@localizer["IntailQty"]</th>
                        <th class="text-uppercase   font-weight-bolder ">@localizer["CurrentQty"]</th>
                        <th class="text-uppercase   font-weight-bolder ">@localizer["Edit"] </th>
                        <th class="text-uppercase   font-weight-bolder ">@localizer["Delete"]</th>



                    </tr>
                </thead>
                <tbody id="tbodyStoreAsset">
                </tbody>
                <tfoot>
                </tfoot>
            </table>
        </div>
    </div>
</div>
@*<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#EditModal" onclick="clearformStoreAsset()">
    @localizer["Add New"]
</button>
*@

<div class="modal" id="EditModal">
    <div class="modal-dialog" role="dialog">
        <div class="modal-content">
            <div class="modal-header with-border">
                <h3 class="box-title">  @localizer["Add New"] /  @localizer["Edit"] </h3>
            </div>
            <div class="modal-body">
                <div class="box box-primary">
                    @using (Html.BeginForm("UpdateStoreAsset", "Settings", FormMethod.Post))
                    {
                        <div class="modal-body">
                                <div class="form-group">
                                    <input type="hidden" asp-for="Id" id="id" />

                                    <div class="form-group">
                                    <label class="control-label">@localizer["Stores"]</label>
                                        <select asp-for="StoreId" id="storeId" class="form-control"></select>
                                    </div>
                                  
                                    <div class="row">
                                    <div class="col">
                                        <label class="control-label">@localizer["Asset Status"]</label>
                                        <select asp-for="AssetStatusTypeId" id="assetStatusTypeId" class="form-control"></select>
                                    </div>
                                    <div class="col">
                                        <label class="control-label">@localizer["Product"]</label>
                                        <select asp-for="AssetId" id="assetId" class="form-control"></select>
                                    </div>
                                   
                                    </div>
                                <div class="row">
                                    <div class="col">
                                        <label asp-for="CurrentQty" class="control-label"></label>
                                        <input asp-for="CurrentQty" required id="currentQty" class="form-control" />
                                    </div>
                                    <div class="col">
                                        <label asp-for="IntailQty" class="control-label"></label>
                                        <input asp-for="IntailQty" required id="intailQty" class="form-control" />
                                    </div>
                                    
                                </div>
                                </div>
                           
                            <div class="clearfix"></div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">@localizer["Submit"]</button>
                            <button type="button" onclick="clearformStoreAsset()" class="btn btn-default pull-right" data-bs-dismiss="modal">@localizer["Close"]</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal" id="DeleteModal">
    <div class="modal-dialog" role="dialog">
        <div class="modal-content">
            <div class="modal-header with-border">
                <h3 class="box-title"> @localizer["Delete"]  </h3>
            </div>
            <div class="modal-body">
                <div class="box box-primary">
                    @using (Html.BeginForm("DeleteStoreAsset", "Settings", FormMethod.Post))
                    {
                        <div class="modal-body">
                                <div class="form-group">
                                    <input type="hidden" asp-for="Id" id="idd" />

                                     <div class="form-group">
                                        <label class="control-label">@localizer["Stores"]</label>
                                            <select asp-for="StoreId" id="storeIdd" class="form-control"></select>
                                        </div>
                                    <div class="row">
                                    <div class="col">
                                        <label class="control-label">@localizer["Asset Status"]</label>
                                        <select asp-for="AssetStatusTypeId" id="assetStatusTypeIdd" class="form-control"></select>
                                    </div>
                                        <div class="col">
                                            <label class="control-label">@localizer["Product"]</label>
                                            <select asp-for="AssetId" id="assetIdd" class="form-control"></select>
                                        </div>
                                        
                                    </div>
                                    <div class="row">
                                        
                                        <div class="col">
                                            <label asp-for="CurrentQty" class="control-label"></label>
                                            <input asp-for="CurrentQty" required id="currentQtyd" class="form-control" />
                                        </div>
                                    <div class="col">
                                        <label asp-for="IntailQty" class="control-label"></label>
                                        <input asp-for="IntailQty" required id="intailQtyd" class="form-control" />
                                        </div>
                                        
                                    </div>
                                    

                                </div>
                            
                            <div class="clearfix"></div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">@localizer["Delete"]</button>
                            <button type="button" onclick="clearformStoreAsset()" class="btn btn-default pull-right" data-bs-dismiss="modal">@localizer["Close"]</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    } 
}